<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default" ng-show="vm.update_wallet">
			<div class="panel-heading">
				Update Wallet - {{vm.selected_wallet.currency}}
			</div>
			<div class="panel-body">
				<a href="" class="btn btn-success"
				ng-click="vm.updateWallet();">
					Save</a>
				<a href="" class="btn btn-default" ng-click="vm.update_wallet=false;">
					Cancel</a>
				<form class="form-inline">
					<div class="form-group">
						<label for="coins">Coins held</label>
						<input type="number" step="any" name="coins" id="coins" class="form-control" 
							ng-model="vm.selected_wallet.coins" />
					</div>
					<div class="form-group">
						<label for="init_amount">Initial Amount</label>
						<input type="number" step="any" name="init_amount" id="init_amount" class="form-control" 
							ng-model="vm.selected_wallet.init_amount" />
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				My Portfolio Summary
			</div>
			<div class="panel-body">
				<img ng-if="vm.loading_value" data-ng-src="{{spinnerImage}}" />
				<span ng-show="vm.loading_value">Loading currency values</span>
				<table class="table">
					<thead>
						<tr>
							<th>Currency</th>
							<th>Coins</th>
							<th>@ Coin</th>
							<th>Value</th>
							<th>Initial Invest</th>
							<th>Profit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="val in vm.my_value">
							<td>
								<a href=""
								ng-click="vm.selectUpdateWallet(val);">
								{{val.currency}}</a>
							</td>
							<td>{{val.coins}}</td>
							<td>{{val.current_value}}</td>
							<td>{{val.my_value | currency}}</td>
							<td>{{val.init_amount | currency}}</td>
							<td>{{(val.my_value - val.init_amount) | currency}}</td>
						</tr>
					</tbody>
				</table>
<!-- 				<div ng-repeat="val in vm.my_value">
					{{val}}
				</div> -->
				<div ng-show="!vm.loading_value">
					<table class="table">
						<thead>
							<tr>
								<th>Inital Investment</th>
								<th>Current Value</th>
								<th>Profit</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{vm.total_init_amount | currency}}</td>
								<td>{{vm.total_value | currency}}</td>
								<td>{{vm.change_value | currency}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
