<div class="row" ng-show="!vm.show_new_user&&!vm.show_forgot_password">
	<div class="col-md-6 col-md-offset-3">
		<h2>Login</h2>
		<div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
		<form name="form" ng-submit="vm.login()" role="form" class="login-form">
			<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
				<label for="username">Email</label>
				<input placeholder="Email" type="text" name="username" id="username" 
				class="form-control" ng-model="vm.username" required />
				<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">
					Email is required</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
				<label for="password">Password</label>
				<input placeholder="Password" type="password" name="password" id="password" 
				class="form-control" ng-model="vm.password" required />
				<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
			</div>
			<div class="form-actions">
				<div class="padded-1">
					<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>

					<img ng-if="vm.dataLoading" data-ng-src="{{spinnerImage}}" />
					<a href="" ng-click="vm.show_forgot_password=true;">
						Forgot password</a>
				</div>
				<div class="padded-1">
					<a href="register" class="btn btn-success">Create Account</a>
				</div>
			</div>
		</form>
	</div>
</div>