<div class="row">
	<div class="md-col-12">
		<h2>Sorry, something is wrong</h2>
		<div class="alert alert-warning">
			There has been an error. Press back button in your browser.
			<br/>
			<a href="/" class="btn btn-primary">
				Click here</a> 
			to start again.
			<br/><br/>
			If the problem continues, please let us know about this problem and we'll fix it ASAP!
		</div>
	</div>
</div>