@media print{
	body {
		background:#eee;
		/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
		/*font-family: Tahoma, Geneva, sans-serif;*/
		/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
		font-family: Verdana, Geneva, sans-serif;
	}
	.no-print{display: none;}
}

@media screen{
	body {
		padding-top: 70px;
		/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
		/*font-family: Tahoma, Geneva, sans-serif;*/
		/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
		font-family: Verdana, Geneva, sans-serif;

		margin-bottom: 70px;
	}
	html {
		position: relative;
		min-height: 100%;
	}
	.print-only{display: none;}
}
.footer{
  position: absolute;bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  margin-top:2em;color:#ccc;background:#222;font-size:0.8em;padding:0.4em;
}

.footer ul{list-style-type: none;padding-left:0em;}
.footer ul li:first-child{padding-left:0em;}
.footer ul li{display:inline;padding-right:1em;padding-left:1em;border-right:1px solid #666;color:#666;}
.footer ul li:last-child{border-right:0px solid #666;}
.footer a{color:#999;}
.footer a:hover{color:#ccc;}